/*
Customized Styles For Illuminatiam Website
*/

/*
h3{
padding-top: 20px;
padding-bottom: 20px;
}

h4{
margin-top: -10px;
padding-bottom: 20px;
}
*/

.mk-quick-contact-wrapper {
    display: none !important;
}

div#sub-footer {
    display: none !important;
}

body {
    background: #890f34;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

#add-top-space{
  height: 100px;
}

@media (max-width: 800px) {
  #add-top-space{
    height: 20px;
  }

  .theme-content {
      margin-top: -50px;
  }

  .mk-css-icon-menu div {
      background-color: #ffffff !important;
  }

}

#add-top-space-more{
  height: 170px;
}

@media (max-width: 800px) {
  #add-top-space-more{
    height: 0px;
  }
}

.endnote {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #7e1137;
    padding: 15px !important;
}

.endnote h2 {
    font-size: 11pt !important;
    line-height: 1.4 !important;
    margin: 0px !important;
    color: #7e1137 !important;
    font-family: "Muli", Sans-Serif !important;
}

.endnote a{
    color: #7e1137 !important;
    text-decoration: underline;
}


#addspace{height:100px;}


.mk-nav-responsive-link {
    top: 50% !important;
}

.mk-header-inner .is-active {
    top: 15% !important;
}


/* Version 1.1 */


ul.essb_links_list {
    font-weight: 800 !important;
}

a.vc_gitem-link.vc_general.vc_btn3.vc_btn3-size-sm.vc_btn3-shape-rounded.vc_btn3-style-flat.vc_btn3-block.vc_btn3-color-default {
    font-weight: 800 !important;;
}

.continuedbelow a,
.continuedbelow {
    text-align: center;
    font-size: 80%;
    font-weight: 600;
    text-transform: uppercase;
    color: #ababab !important;
    margin-bottom: -30px !important;
}

.ms-info {
    font-weight: 500 !important;
}

a.vc_gitem-link.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-flat.vc_btn3-block.vc_btn3-color-chino {
    font-weight: 500 !important;
}

.main-navigation-ul li.menu-item ul.sub-menu li.menu-item a.menu-item-link {
    font-weight: 500 !important;
}

p {
    font-weight: 500 !important;
}

button {
    padding: 12px;
    margin: 5px;
}

section#search-4 {
    max-width: 300px;
    margin: 0 auto;
}

.single-social-section {
    display: none;
}





.gold-inner{
    margin-bottom: -30px !important;
}

.gold-outer{
    margin-bottom: 30px !important;
    margin-top: 30px !important;
}




.mk-single-content{
    max-width: 1000px !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
    margin: 0 auto;
}

.page-title{
  text-align: center !important;
  padding-bottom: 10px !important;
}
.page-subtitle2{
  text-align: center !important;
  font-size: 11pt !important;
  font-family: "Lato",serif !important;
  padding-top: -10px !important;
  padding-bottom: 10px !important;
  margin-top: -10px !important;
  color: #7f1137 !important;
}

.gtranslate{
height: 20px !important;
overflow: hidden;
}

.google_translate_element{
height: 20px !important;
overflow: hidden;
}

.centerthis{
    margin: auto !important;
    width: 100% !important;
}

.fb-like-box-container {
    margin: auto;
    width: 300px;
    text-align: center;
}

.fb-like-box {
  margin: auto;
  width: 100%;
}


.endtext a{
  color: #ca8a56 !important;
}

.endtext a:hover{
  color: #ffffff !important;
}

.endtext h2{
  font-size: 12pt !important;
  font-family: "Lato",serif !important;
  font-weight: 400 !important;
  color: #ca8a56 !important;
  text-transform: uppercase !important;
  line-height: 1 !important;
  text-align: center !important;
  padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.endtext h3{
  font-size: 11pt !important;
  font-family: "Lato",serif !important;
  font-weight: 300 !important;
  color: #ca8a56 !important;
  line-height: 1 !important;
  text-align: center !important;
  padding-top: 3px !important;
    padding-bottom: 3px !important;
}
.endtext h4{
  font-size: 9pt !important;
  font-family: "Lato",serif !important;
  font-weight: 400 !important;
  color: #ca8a56 !important;
  line-height: 1 !important;
  text-align: center !important;
    text-transform: uppercase !important;
  padding-top: 25px !important;
    letter-spacing: 3px !important;
}

.endtext h5{
  font-size: 9pt !important;
  font-family: "Lato",serif !important;
  font-weight: 400 !important;
  color: #ca8a56 !important;
  line-height: 1 !important;
  text-align: center !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.endtext hr{
  display: block;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    color: #ca8a56 !important;
    border-style: solid;
    background-color: #ca8a56 !important;
    width: 250px;

}

.endtextline {
 background-image: -webkit-linear-gradient(left, transparent 0%, #ca8a56 30%, #ca8a56 70%, transparent 100%);
  background-image: linear-gradient(left, transparent 0%, #ca8a56 30%, #ca8a56 70%, transparent 100%);
  height: 1px !important;
  margin-top: 1px;
  margin-bottom: 20px;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}



/*
Marks Headers
*/


.mark-header{}
  .mark-title{}
    .mark-image{}

.mark-title h1 {
      font-family: "Droid Serif", serif;
      color: #ffffff;
      text-transform: uppercase;
  }

  .mark-title h2 {
font-family: "Droid Serif", serif;
color: #ffffff;
max-width: 500px;
margin: 0 auto;
font-size: 20pt;
font-weight: 500;
padding: 2px 5px 30px 5px;
font-style: italic;
}

@media (max-width: 800px) {
  .mark-title h2 {
font-size: 18pt;
font-weight: 500;
padding: 2px 10px 30px 10px;

}

a.menu-item-link.js-smooth-scroll {
    font-weight: bold !important;
}

}

.mark-text-block{
  padding-left:10px;
  padding-right:10px;
}

.mark-text {
    max-width: 900px;
    margin: 0 auto;
}

.mark-text h1 {
    font-family: "Droid Serif", serif;
    color: #81123a;
    max-width: 500px;
    margin: 0 auto;
    font-size: 18pt;
    font-weight: 600;
    padding: 20px 5px 40px 5px;
    text-align: center;
}

.related-topics h3{
    font-family: "Droid Serif", serif !important;
    color: #81123a !important;
    max-width: 500px;
    margin: 0 auto;
    font-size: 12pt;
    font-weight: 800 !important;
    padding: 20px 5px 5px 5px;
    text-align: center;
}



.feature-title h1 {
      font-family: "Droid Serif", serif;
      color: #991643;
  }

  .feature-title h2 {
font-family: "Droid Serif", serif;
color: #000000;
max-width: 500px;
margin: 0 auto;
font-size: 14pt;
font-weight: 500;
padding: 2px 5px 30px 5px;
}

.learnmorebar {
    background-color: #e3e3e3 !important;
    padding: 20px 10px 20px 10px !important;
    margin-top: 10px;
}

.learnmoretext p {
    color: #000000 !important;
    margin: 0px;
    font-size: 10pt;
}

.learnmoretext a {
    color: #991643;
    font-weight: bold;
    font-size: 10pt;
}

.redbar{
    background: #991643;
    padding: 10px 10px 10px 10px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.redbartext h1{
  color: #ffffff;
  font-family: "Droid Serif", serif;
  font-size: 25pt;
  font-weight: 500;
  text-transform: uppercase;
      margin-bottom: 2px;
}
.redbartext h2{
  color: #ffffff;
  font-family: "Droid Serif", serif;
  font-size: 14pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.purpose-box,
.beliefs-box {
    padding-top: 5px !important;
}

.symbolstext p {
    font-size: 12pt !important;
    text-align: center;
    color: #FFFFFF!important;
      font-family: "Droid Serif", serif;
    font-weight: 600 !important;
    line-height: 1.5;
    max-width: 600px;
margin: auto;
margin-top: 10px;
padding: 10px 10px 10px 10px;
}

.purpose-text {}


#theme-page .theme-page-wrapper .theme-content {
    padding: 90px 20px !important
}
