/*
Custom Styles For Illuminatiam Homepage
*/


.ms-info h3 {
    margin-bottom: 0px;
    padding: 4px;
    font-size: 20pt;
}

.vc_grid-item-mini.vc_clearfix {
    -webkit-box-shadow: 0px 0px 51px -9px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 51px -9px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 51px -9px rgba(0,0,0,0.5);
}

.vc_gitem-zone-mini {
    padding: 0px 10px 0px 10px;
}

a.vc_gitem-link {
    font-size: 11pt !important;
}

.illu-gold-button {
    width: 100%;
    text-align: center;
}

.illu-gold-button a {
    background: #d8aa84;
    padding: 13px 20px !important;
    width: 100% !important;
    font-size: 15px !important;
    color: #FFFFFF !important;
    border-radius: 4px !important;
    text-transform: uppercase !important;
    font-family: "Muli", Sans-Serif;
    font-weight: 700 !important;
    max-width: 230px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #efd3bc;
}

.illu-gold-button a:hover {
  background: #b38d6e !important;
}

.always-watching p {
    font-size: 35px;
    color: #ffffff;
    line-height: 1;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 300 !important;
    font-style: normal;
}

.always-watching {
    padding: 20px;
}

.illuminatiam-title h1 {
    font-size: 30pt;
    font-family: "Muli",serif;
    font-weight: 700 !important;
    color: #ffffff !important;
    text-transform: uppercase !important;
    line-height: 0.5;
    text-align: center;
    padding-top: 20px;
}

.illuminatiam-title h2 {
    font-size: 17pt;
    font-family: "Muli",serif;
    font-weight: 600 !important;
    color: #ffffff !important;
    text-transform: uppercase !important;
    text-align: center;
    padding-top: 0px;
    letter-spacing: 2px;
    padding-bottom: 1px;
    line-height: 1;
    margin: 0px;
}

.illuminatiam-title {
    padding-bottom: 20px;
}


.officialwebsite {
    opacity: 0.9;
    /* background: #d8a466; */
    /* background: -webkit-linear-gradient(#d8a466, #d8aa84); */
    /* background: -o-linear-gradient(#d8a466, #d8aa84);
    /* background: -moz-linear-gradient(#d8a466, #d8aa84);
    /* background: linear-gradient(#d8a466, #d8aa84); */
    /* margin-left: -40px !important; */
    /* margin-right: -40px !important; */
background: -moz-linear-gradient(left,  rgba(2,0,76,0) 0%, rgba(216,164,102,1) 5%, rgba(216,164,102,1) 95%, rgba(2,0,76,0) 100%);
background: -webkit-linear-gradient(left,  rgba(2,0,76,0) 0%,rgba(216,164,102,1) 5%,rgba(216,164,102,1) 95%,rgba(2,0,76,0) 100%);
background: linear-gradient(to right,  rgba(2,0,76,0) 0%,rgba(216,164,102,1) 5%,rgba(216,164,102,1) 95%,rgba(2,0,76,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0002004c', endColorstr='#0002004c',GradientType=1 );
    max-width: 100% !important;

}

.ms-container{
    width: 100% !important;
}

.officialwebsite h1{
  font-size: 29pt !important;
  font-family: "Lato",serif;
  font-weight: 300 !important;
  color: #fff2e7 !important;
  text-transform: uppercase !important;
  line-height: 0.5;
  text-align: center;
  padding-top: 20px;
}

.officialwebsite h2{
  font-size: 10pt !important;
  font-family: "Lato",serif;
  font-weight: 400 !important;
  color: #fff2e7 !important;
  text-transform: uppercase !important;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 6px;
  margin-bottom: 10px;
}

.welcome h2{
  font-size: 30pt !important;
  font-family: "Lato",serif;
  font-weight: 300 !important;
  color: #ffffff !important;
  line-height: 1;
  text-align: center;
  padding: 5px;
 text-transform: initial !important;
}

.welcome h3 {
    font-size: 12pt !important;
    font-family: "Lato",serif;
    font-weight: 400;
    color: #ffffff !important;
    line-height: 1.4;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    text-transform: initial !important;
    padding-top: 1px;
    padding-bottom: 5px;
}

.introduction h1{
  font-size: 24pt !important;
  font-family: "Lato",serif;
  font-weight: 300;
  color: #ffe6d0 !important;
  text-transform: uppercase;
  line-height: 0.5;
  text-align: center;
  padding-top: 15px;
}

.introduction h2{
  font-size: 12pt !important;
  font-family: "Lato",serif;
  font-weight: 300 !important;
  color: #ffe6d0 !important;
  text-transform: uppercase;
  line-height: 0.5;
  text-align: center;
  letter-spacing: 6px;
  padding-bottom: 15px;
}

.introduction h3{
  font-size: 12pt !important;
  font-family: "Lato",serif;
  font-weight: 400;
  color: #ffffff !important;
  line-height: 1.4;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  text-transform: initial !important;
}

.beliefs h2{
  font-size: 20pt !important;
  font-family: "Lato",serif;
  font-weight: 300;
  color: #ffe6d0 !important;
  line-height: 0.5;
  text-align: center;
}

.beliefs h3{
  font-size: 11pt !important;
  font-family: "Lato",serif;
  font-weight: 400;
  color: #ffffff !important;
  line-height: 1.4;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.peopleof h1{
  font-size: 15pt !important;
  font-family: "Lato",serif;
  font-weight: 300 !important;
  color: #656565 !important;
  line-height: 0.5;
  text-align: center;
    text-transform: uppercase !important;
}

.peopleof h2{
  font-size: 23pt !important;
  font-family: "Lato",serif;
  font-weight: 400 !important;
  color: #656565 !important;
  text-align: center;
    text-transform: uppercase !important;
      letter-spacing: 6px;
}

.peopleof h5{
  font-size: 12pt !important;
  font-family: "Lato",serif;
  font-weight: 600 !important;
  color: #991643 !important;
  line-height: 1.4;
  text-align: center;

}

.corebeliefs h2{
  font-size: 13pt !important;
  font-family: "Lato",serif;
  font-weight: 400;
  color: #ffffff !important;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}


.pyramid {
    min-height: 400px;
    background: #81193d !important;
    background-image: url("http://localhost/illuminatisite/wp-content/uploads/2016/03/pyramid-illuminati-block.jpg") !important;
    background-size: cover !important;
    background-position:center !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pyramid:hover{
    opacity:0.8 !important;
}

.eye {
    min-height: 400px;
    background: #781034 !important;
    background-image: url("http://localhost/illuminatisite/wp-content/uploads/2016/03/eye-illuminati-official-website-beliefs.jpg") !important;
    background-size: cover !important;
    background-position:center !important;
      display: flex;
  align-items: center;
  justify-content: center;
}

.eye:hover{
    opacity:0.8 !important;
}

.light {
    min-height: 400px;
    background: #991643 !important;
    background-image: url("http://localhost/illuminatisite/wp-content/uploads/2016/03/light-illuminati-official-website-beliefs.jpg") !important;
    background-size: cover !important;
    background-position:center !important;
      display: flex;
  align-items: center;
  justify-content: center;
}

.light:hover{
    opacity:0.8 !important;
}

.eternal {
    min-height: 400px;
    background: #81193d !important;
    background-image: url("http://localhost/illuminatisite/wp-content/uploads/2016/03/eternal-circle-illuminati-official-website-beliefs.jpg") !important;
    background-size: cover !important;
    background-position:center !important;
      display: flex;
  align-items: center;
  justify-content: center;
}

.eternal:hover{
    opacity:0.8 !important;
}

.archivesheader {
    background: #941441; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#941441, #801137); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#941441, #801137); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#941441, #801137); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#941441, #801137); /* Standard syntax */
    opacity: 0.8;
    margin-left: -40px !important;
    margin-right: -40px !important;

}

.archivesheader h1{
  font-size: 40px !important;
  font-family: "Lato",serif;
  font-weight: 300 !important;
}

.archivesheader h2{
  line-height: 150% !important;
}



.corebeliefs {
 background-image: -webkit-linear-gradient(left, transparent 0%, #aa455a 30%, #aa455a 70%, transparent 100%);
  background-image: linear-gradient(left, transparent 0%, #aa455a 30%, #aa455a 70%, transparent 100%);
  text-transform: uppercase !important;

}

.welcomewords{
  margin: auto;
  text-align: center;

}

.introduction{
    margin: -20px !important;
    padding: -20px !important;
}

.beliefs{
    margin-top: -55px !important;
    margin-bottom: -55px !important;
    padding-right: -2px !important;
    padding-left: -2px !important;
}

.latestmessage h3{
  font-size: 20px !important;
  font-family: "Lato",serif;
  font-weight: 300 !important;
  color: #ffffff !important;
}

.archivesgrid h1{
  font-size: 20pt !important;
  font-family: "Muli", sans-serif;
  font-weight: 600 !important;
  color: #ffffff !important;
  text-align: center;
  text-transform: uppercase !important;
  margin-bottom: 2px;
  margin-top: 10px;
}

.archivesgrid h2{
  font-size: 12pt !important;
  font-family: "Muli", sans-serif;
  font-weight: 600 !important;
  color: #ffffff !important;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 10px !important;
        letter-spacing: 3px;
          text-transform: uppercase !important;
}

.officialwebsite {
    margin-top: 150px !important;
}


@media only screen and (min-width: 581px){
.join-box-container {
    padding-top: 66px !important;
    padding-bottom: 66px !important;
}
}

@media only screen and (max-width: 580px){

  .officialwebsite {
      padding-left: 7px;
      padding-right: 7px;
      padding-bottom: 5px;
padding-top: 5px;
  }

.hideonmobile{
    display: none !important;
}

.latest-message-title p {
    color: #ffffff;
    font-family: "Muli", sans-serif;
    font-size: 18pt;
    font-weight: 600 !important;
    margin: 0px;
    padding: 3px;
}

.illuminatiam-title h1 {
    font-size: 25pt !important;
  }

  .illuminatiam-title h2 {
      font-size: 14pt !important;
    }

.officialwebsite {
    margin-top: 70px !important;
}

}


.vc_grid-item {
    float: left !important;
    display: inline !important;
}
