/*
Custom Styles For Illuminatiam Messages
*/

/* TEXT STYLES ---------------------------- */

#main-post-content .maintitle,
#main-post-content h1.maintitle1,
#main-post-content h2.maintitle2 {
    text-align: center;
    text-transform: uppercase;
}

.moremessages h2 {
    font-size: 140% !important;
    color: #FFFFFF !important;
    margin: 5px 0px 0px 0px !important;
}

.sharethismessage h2 {
    font-size: 140% !important;
    color: #000000 !important;
    margin: 10px 0px 20px 0px !important;
}

.sharemessagebox {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px !important;
    border-bottom: 1px !important;
    border-right: 0px !important;
    border-left: 0px !important;
    border-style: solid !important;
    border-color: #dadada !important;
}

.capsshadow {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 5px 20px 5px 1px;
  border: none;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 3px 3px 0 #7f1137 , 4px 4px 0 #7f1137 , 5px 5px 0 #7f1137 , 6px 6px 0 #7f1137 , 7px 7px 0 #7f1137 , 8px 8px 0 #7f1137 , 9px 9px 0 #7f1137 , 10px 10px 0 #7f1137 , 11px 11px 0 #7f1137 , 12px 12px 0 #7f1137 , 13px 13px 0 #7f1137 , 14px 14px 0 #7f1137 , 15px 15px 0 #7f1137 , 16px 16px 0 #7f1137 ;
  font-size: 70pt;
float: left;
line-height: 60px;
}

.capsdrop {
    float: left;
    color: #7f1137;
    font-size: 76px;
    line-height: 41px;
    padding-top: 4px;
    padding-right: 5px;
    padding-left: 5px;
}

.capsshadow,
.ofpower,
.thependulum,
.texthighlight,
.capsdrop{
text-shadow: 0px 4px 20px rgb(255, 255, 255);
}

.texthighlight {
    text-align: center;
    color: #7f1137;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    line-height: 22pt;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    max-width: 75% !important;
    display: block;
    margin: 0 auto;
    font-weight: bold;
}

#main-post-content h3 {
    font-size: 22pt;
    font-weight: 700;
    color: #991643;
    max-width: 460px;
    margin: 0 auto;
}

#main-post-content h4 {
    font-size: 20pt;
    font-weight: 800;
    margin-top: -20px !important;
    margin-bottom: 20px !important;
    color: #991643;
    max-width: 460px;
    margin: 0 auto;
}



@media (max-width: 1025px) {
li#responsive-menu-item-4280 span.mk-nav-arrow.mk-nav-sub-closed {
    display: none;
}
}

/* TEXT STYLES ----------- */
/* Desktop ----------- */
@media (min-width: 1025px) {
  #main-post-content h1.maintitle1 {
      font-size: 44pt;
      font-weight: 700;
  }

  #main-post-content h2.maintitle2 {
      font-size: 45pt;
      font-weight: 800;
      margin-top: -30px;
      margin-bottom: 20px;
  }

}

/* TEXT STYLES ----------- */
/* Tablet ----------- */
@media (min-width: 415px) and (max-width: 1024px) {
  #main-post-content h1.maintitle1 {
      font-size: 44pt;
      font-weight: 700;
  }

  #main-post-content h2.maintitle2 {
      font-size: 45pt;
      font-weight: 800;
      margin-top: -30px;
      margin-bottom: 20px;
  }

}


/* TEXT STYLES ----------- */
/* Mobile ----------- */
@media (min-width: 319px) and (max-width: 414px) {

  #main-post-content h1.maintitle1 {
      font-size: 30pt;
      font-weight: 700;
  }

  #main-post-content h2.maintitle2 {
    font-size: 27pt;
        font-weight: 800;
        margin-top: -20px;
        margin-bottom: 27px;
  }

  .texthighlight {
    font-size: 20px;
  }

}


/* TEXT STYLES ----------- */
/* Small Mobile ----------- */
@media (max-width: 318px) {}



/* TEXT LAYOUT ----------- */

  #main-post-content {
      max-width: 700px;
      margin: 0 auto;
  }


/* Bottom Bar ---------------------------- */

.bottomimagebar {
    margin-top: 10px;
    padding: 5px;
}


/* EMBED MEDIA ----------- */

@media (max-width: 600px) {
  iframe.fbembed {
      width: 100% !important;
      height: 530px;
  }
}
  .embeddedmedia {
      margin-top: 30px;
      margin-bottom: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
      border-top: 1px !important;
      border-bottom: 1px !important;
      border-right: 0px !important;
      border-left: 0px !important;
      border-style: solid !important;
      border-color: #dadada !important;
  }

  twitterwidget#twitter-widget-0,
  iframe.fbembed{
      box-shadow: 0px 0px 68px -10px rgba(148, 148, 148, 0.53);
  }

  .essb_links_center {
      margin: 10px 0px 20px 0px !important;
  }




/* Scale responsive image and video ----------- */

.topimage{
    width: 100%;
    margin-bottom: 100px !important;
    background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 68%, #f4f4f4 100%);
background: -webkit-linear-gradient(top,  #ffffff 68%,#f4f4f4 100%);
background: linear-gradient(to bottom,  #ffffff 68%,#f4f4f4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );
padding: 0px !important;
}


video{
    width: 100% !important;
}


.centerfont{
   padding: 0px 10px 0px 10px !important;
   text-align: center !important;
   margin-bottom: 20px !important;
}




/* Hide on mobile or desktop ----------- */

@media (min-width: 770px) {
    .nodesktop{
        display: none;
    }
}

@media (max-width: 770px) {
    .nomobile{
        display: none;
    }

}

.nomobile,
.nodesktop,
.showsafari{
background: #FFFFFF !important;
}


@media (max-width: 759px) {

img#maintopimage{
    width: 100% !important;
    height: auto !important;
}

}

/* 2018 ----------- */


.top-image-row{}
.top-image-column{}
.top-image-holder{}
img#top-image{}
#main-post-content{}



img#top-image {
    max-height: 400px;
}

.top-image-holder p {
    padding: 0px !important;
    margin: 0px !important;
}

img#top-image-illuminations {
    margin-top: -25px !important;
    margin-bottom: -20px !important;
    margin: 0 auto;
    text-align: center;
    display: inline;
    width: 100%;
}



/* Related Grid ----------- */

#related-grid {
    max-width: 900px;
    margin: 0 auto;
}


#related-container {
    padding: 15px !important;
    background: -webkit-linear-gradient(top, rgb(150, 149, 149) 0%, rgb(199, 199, 199) 35%);
}

.grid-object{}
.grid-title{}

  .vc_grid-item.vc_clearfix.vc_col-sm-6.vc_grid-item-zone-c-bottom.vc_visible-item {
    float: left;
}

a.vc_gitem-link {
    color: #ffffff;
    font-weight: bold;
}

.vc_custom_heading.grid-title.vc_gitem-post-data.vc_gitem-post-data-source-post_title
{ color: #ffffff !important;
}

.vc_btn3-container.grid-button.vc_btn3-center {
    max-width: 300px;
    margin: 0 auto;
}

.vc_gitem-zone.vc_gitem-zone-c.grid-object {
    margin-top: -2px;
}

a.vc_gitem-link {
    font-size: 12pt;
    text-decoration: none !important;
}



/* Illuminations Text ----------- */

div#illuminations-container {
    padding: 10px;
    text-align: center;
}

img#illuminations-logo {
    padding: 10px;
        display: inline;
}


.illuminations-text h1 {
    font-size: 22pt;
    font-weight: 700;
    color: #ffffff !important;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.illuminations-text h2 {
    font-size: 14pt;
    font-weight: 500;
    color: #ffffff !important;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

#text-block-5 p {
    margin-bottom: 0px;
}
