@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/teko/v23/LYjYdG7kmE0gV69VVPPdFl06VN8XG4S11zY.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/teko/v23/LYjYdG7kmE0gV69VVPPdFl06VN8lG4S11zY.ttf) format('truetype');
}
